* {
    /* padding: 0; */
    box-sizing: border-box;
}

html {
    font-size: 1 rem;
    height: 100%;
}

body, header, main, footer {
    min-height: 50px; /*le asignamos altura minima*/
    margin: 0.5 rem;
    min-width: 400px; /*le asignamos ancho minimo*/
}

body {
    background-color: #F2F2F2;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

main {
    min-height: 200px;
    overflow: auto;
    background-color: white;
}

header {
    box-shadow: 0 0 0.5rem rgb (83 78 76 / 50%);
}

footer {

}

main>div {  /*div que es HIJO DIRECTO de div, lo ideal es aplicar una clase pero se hizo asi para repasar el tema*/
    /* border: 2px blue solid; */
    min-height: 180px;
    margin: 0.5rem;
    height: auto; /* altura se adapte al contenido */
    float: left; /* que flote a la izquierda */
    width: 65%;
}

main>aside {
    /* border: 2px blue solid; */
    min-height: 180px;
    min-width: 30%; /* ancho minimo de 25 % */
    margin: 0.5rem;
    float: left;
    width: auto;
}

.secciones {
    min-height: 50px;
    margin: 0.5rem;
}

.secciones article {  /* las clases secciones y tenga un elemento de tipo articulo */
    margin: 0.5rem;
    min-height: 20px;
}

img {
    width: 100%;
}

#gif-banner { /* se especifico con un ID porque desbordaba el contenedor, entonces se lo trata especificamente asi hasta acomodarlo */
    width: 100%;
}

.tenor-gif-embed {
    width: 100%;
}

.header-logo {
    width: 10%;
    display: inline-block;
    margin: 0.5rem;
}

.header-menubar {
    left: auto; /* que se acomode a la izquierda */
    position: relative; /* posicion relativa al contenido anterios, div con el logo */
    top:auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 0.5rem; /* a la izq. le pone un poco mas de margen para que se separe del logo */
}

.header-menubar ul {
    list-style: none;
}

.header-menubar li {  /* acomodo la disposición de los items del menu */
    float: left; 
    font-weight: 700;
    text-align: center;
    padding: 0 0.5rem 0;
}

.header-menubar a {
    text-decoration: none;
    color: black;
}

.header-menubar a:hover {
    color: purple;
}

.header-menubar li a {
    font-size: 0.9rem;
    background: transparent;
}